.banner {
    height: 70vh;
    border-radius: 8px;
    background-image: url('https://i.ibb.co/jfcYsq0/442841ho3x-CIHB.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
}