@tailwind base;
@tailwind components;
@tailwind utilities;

.line{
    border: 1px solid black;
}
body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}

.dark-mode {
    background-color: black;
    color: white;
}